body{
    background-color: #d4d4d6;
}

/* პირველი სანავიგაციო */
ul.navigation-bar{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #1a585e;
    border-radius: 30px;
}
  
li.first-nav-bar{
    float: left;
  }
  
li.first-nav-bar a{
    display: block;
    color: white;
    text-align: center;
    padding: 20px 18px;
    text-decoration: none;
}
  
li a:hover:not(.computer-technology-name) {
    background-color: #75aeb4;
    border-radius: 25px;
    height: 20px;
  }
  
.computer-technology-name{
    background-color: #388797;
    width: auto;
    border-radius: 30px;
}

/* 'კომპიუტერული ტექნოლოგიები' სტილები */
.computer-technology-block{
    background-color: #34848e;
    margin: auto;
    border-radius: 50px;
    width: 1000px;
    height: 400px;
}

.computer-technology-head{
    text-align: center;
    font-style: italic;
}

/* კომპიუტერული ტექნოლოგიების ცხრილის სტილები */
table{
    border: solid 4px #2f174e;
    margin: auto;
    width: 700px;
    height: 320px;
    border-radius: 20px;
}

table td{
    border: solid 3px #1d2f55;
    text-align: center;
    font-size: 20px;
    border-radius: 15px;
    height: 45px;
}

/* მეორე სანავიგაციო */
.first-line{
    margin: 10px;
    height: 5px;
    background-color: #2f174e;
}

.second-line{
    margin: 10px;
    background-color: #2f174e;
    height: 5px;
}

ul.second-navigation-bar{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #1a585e;
    border-radius: 30px;
}
  
li.second-nav-bar{
    float: left;
  }
  
li.second-nav-bar a{
    display: block;
    color: white;
    text-align: center;
    padding: 20px 18px;
    text-decoration: none;
}
  
li a:hover:not(.technology-history-name) {
    background-color: #75aeb4;
    border-radius: 25px;
    height: 20px;
  }
  
.technology-history-name{
    background-color: #388797;
    width: auto;
    border-radius: 30px;
}

/* 'კომპიუტერული ტექნოლოგიების ისტორია' სტილები */
.technology-history-block{
    background-color: #34848e;
    margin: auto;
    border-radius: 50px;
    width: 1200px;
    height: 700px;
}

.technology-history-head{
    text-align: center;
    font-style: italic;
}

.about-technology-history{
    margin: 20px;
    font-size: 22px;
}

/* მესამე სანავიგაციო */
ul.third-navigation-bar{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #1a585e;
    border-radius: 30px;
}
  
li.third-nav-bar{
    float: left;
  }
  
li.third-nav-bar a{
    display: block;
    color: white;
    text-align: center;
    padding: 20px 18px;
    text-decoration: none;
}
  
li a:hover:not(.computer-equipment-name) {
    background-color: #75aeb4;
    border-radius: 25px;
    height: 20px;
  }
  
.computer-equipment-name{
    background-color: #388797;
    width: auto;
    border-radius: 30px;
}

/* კომპიუტერული მოწყობილობები */
.computer-equipment-block{
    background-color: #34848e;
    margin: auto;
    border-radius: 50px;
    width: 1200px;
    height: 745px;
}

.computer-equipment-head{
    text-align: center;
    font-style: italic;
}

.about-computer-equipment{
    margin: 20px;
    font-size: 22px;
}

.computer-equipment-img{
    position: relative; bottom: 650px; left: 630px;
    width: 350px;
}

/* მეოთხე სანავიგაციო */
ul.fourth-navigation-bar{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #1a585e;
    border-radius: 30px;
}
  
li.fourth-nav-bar{
    float: left;
  }
  
li.fourth-nav-bar a{
    display: block;
    color: white;
    text-align: center;
    padding: 20px 18px;
    text-decoration: none;
}
  
li a:hover:not(.system-program-name) {
    background-color: #75aeb4;
    border-radius: 25px;
    height: 20px;
  }
  
.system-program-name{
    background-color: #388797;
    width: auto;
    border-radius: 30px;
}

/* სისტემური პროგრამები */
.system-program-block{
    background-color: #34848e;
    margin: auto;
    border-radius: 50px;
    width: 1200px;
    height: 600px;
}

.system-program-head{
    text-align: center;
    font-style: italic;
}

.about-system-program{
    margin: 20px;
    font-size: 22px;
}

.about-system-program-2{
    position: relative; bottom: 380px; left: 400px;
    margin: 20px;
    font-size: 22px;
}

.system-program-img{
    width: 350px;
    margin-left: 40px;
}

/* მეხუთე სანავიგაციო */
ul.fifth-navigation-bar{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #1a585e;
    border-radius: 30px;
}
  
li.fifth-nav-bar{
    float: left;
  }
  
li.fifth-nav-bar a{
    display: block;
    color: white;
    text-align: center;
    padding: 20px 18px;
    text-decoration: none;
}
  
li a:hover:not(.applied-program-name) {
    background-color: #75aeb4;
    border-radius: 25px;
    height: 20px;
  }
  
.applied-program-name{
    background-color: #388797;
    width: auto;
    border-radius: 30px;
}

/* 'გამოყენებით პროგრამები' სტილები */
.applied-program-block{
    background-color: #34848e;
    margin: auto;
    border-radius: 50px;
    width: 1200px;
    height: 600px;
}

.applied-program-head{
    text-align: center;
    font-style: italic;
}

.about-applied-program{
    margin: 20px;
    font-size: 22px;
}

.about-applied-program-2{
    margin: 20px;
    font-size: 22px;
    position: relative; top: 300px;
}

.applied-program-img{
    width: 300px;
    margin-left: 120px;
    margin-top: 15px;
    border: solid 5px black;
    border-radius: 30px;
}



/* მეექვსე სანავიგაციო */
ul.sixth-navigation-bar{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #1a585e;
    border-radius: 30px;
}
  
li.sixth-nav-bar{
    float: left;
  }
  
li.sixth-nav-bar a{
    display: block;
    color: white;
    text-align: center;
    padding: 20px 18px;
    text-decoration: none;
}
  
li a:hover:not(.program-languages-name) {
    background-color: #75aeb4;
    border-radius: 25px;
    height: 20px;
  }
  
.program-languages-name{
    background-color: #388797;
    width: auto;
    border-radius: 30px;
}

/* 'დაპროგრამების ენები' სტილები */
.program-languages-block{
    background-color: #34848e;
    margin: auto;
    border-radius: 50px;
    width: 1200px;
    height: 800px;
}

.program-languages-head{
    text-align: center;
    font-style: italic;
}

.about-program-languages{
    margin: 20px;
    font-size: 22px;
}

/* მეშვიდე სანავიგაციო */
ul.seventh-navigation-bar{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #1a585e;
    border-radius: 30px;
}
  
li.seventh-nav-bar{
    float: left;
  }
  
li.seventh-nav-bar a{
    display: block;
    color: white;
    text-align: center;
    padding: 20px 18px;
    text-decoration: none;
}
  
li a:hover:not(.computer-industry-name) {
    background-color: #75aeb4;
    border-radius: 25px;
    height: 20px;
  }
  
.computer-industry-name{
    background-color: #388797;
    width: auto;
    border-radius: 30px;
}

/* 'კომპიუტერული ინდუსტრია' სტილები */
.computer-industry-block{
    background-color: #34848e;
    margin: auto;
    border-radius: 50px;
    width: 1200px;
    height: 600px;
}

.computer-industry-head{
    text-align: center;
    font-style: italic;
}

.about-computer-industry{
    margin: 20px;
    font-size: 22px;
}

